@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/_body/Montserrat-Light.ttf") format("truetype");
  src: url("/assets/font/_body/Montserrat-Light.woff") format("truetype");
  src: url("/assets/font/_body/Montserrat-Light.woff2") format("truetype");
  src: url("/assets/font/_body/Montserrat-Light.eot") format("truetype");
  src: url("/assets/font/_body/Montserrat-Light.otf") format("truetype");
  src: url("/assets/font/_body/Montserrat-Light.svg") format("truetype");
  font-family: "Quicksand";
  src: url("/assets/font/_h/Quicksand-Light.ttf") format("truetype");
  src: url("/assets/font/_h/Quicksand-Light.woff") format("truetype");
  src: url("/assets/font/_h/Quicksand-Light.woff2") format("truetype");
  src: url("/assets/font/_h/Quicksand-Light.eot") format("truetype");
  src: url("/assets/font/_h/Quicksand-Light.otf") format("truetype");
  src: url("/assets/font/_h/Quicksand-Light.svg") format("truetype");
}
