@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/_body/Montserrat-Light.ttf") format("truetype");
  src: url("/assets/font/_body/Montserrat-Light.woff") format("woff");
  src: url("/assets/font/_body/Montserrat-Light.woff2") format("woff2");
  src: url("/assets/font/_body/Montserrat-Light.eot") format("embedded-opentype");
  // src: url("/assets/font/_body/Montserrat-Light.otf") format("truetype");
  src: url("/assets/font/_body/Montserrat-Light.svg") format("svg");
  font-family: "Quicksand";
  src: url("/assets/font/_h/Quicksand-Light.ttf") format("truetype");
  src: url("/assets/font/_h/Quicksand-Light.woff") format("woff");
  src: url("/assets/font/_h/Quicksand-Light.woff2") format("woff2");
  src: url("/assets/font/_h/Quicksand-Light.eot") format("embedded-opentype");
  // src: url("/assets/font/_h/Quicksand-Light.otf") format("truetype");
  src: url("/assets/font/_h/Quicksand-Light.svg") format("svg");
  font-style: normal;
  font-weight: 400;
}
